@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Nanum+Gothic&family=Nanum+Myeongjo&display=swap');

@font-face {
    font-family: 'main';
    src: url(fonts/nanum_myeongjo/NanumMyeongjo-Regular.ttf);
    color: #161616;
}

@font-face {
    font-family: 'sub';
    src: url(fonts/nanum_gothic/NanumGothic-Regular.ttf);
    color: #161616;
}

* {
    margin: 0;
    padding: 0;
}

.nav_container {
    position: fixed;
    width: 100vw;
    z-index: 99;
}

.actual_nav {
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: white;
    padding: 20px 50px 20px 50px;
    height: 4vh;
    font-family: 'sub';
    font-size: smaller;
    border-bottom: 1px solid #e9e9e9;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    align-items: center;
}

.actual_nav #contento {
    text-decoration: none;
    color: #161616;
    text-transform: lowercase;
    font-family: 'Boldonse';
    width: fit-content;
}

.actual_nav .items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5em;
}

.actual_nav .items li {
    list-style: none;
}

.actual_nav .items li a {
    font-family: "Nanum Gothic";
    text-decoration: none;
    color: #161616;
    transition: 0.3s ease-in-out;
}

.actual_nav .items li a:hover {
    transform: translateY(-1px);
    color: #555;
}