* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Body */
body {
    background-color: #F2F2F2;
}

.main-container {
    display: grid;
    grid-template-columns: 20% 50%;
    border-radius: 8px;
    padding: 60px 30px 30px 20px;
    max-height: 100vh;
}

.settings-choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-top: 50px;
    margin-right: 10px;
    border-radius: 5px;
}

.settings-choices h3 {
    font-size: 25px;
    margin-bottom: 30px;
}

.settings-choices ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-bottom: 20px;
}

.settings-choices li {
    padding: 10px;  
    width: 100%; 
    display: flex;
    justify-content: center;
    transition: .3s;
}

.settings-choices li:hover {
    font-weight: bold;
    cursor: pointer;
    background-color: #e5e5e5;
    border-radius: 5px;
}

.settings-choices li a {
    text-decoration: none;
    color: black;
}

.settings-choices button {
    color: red;
    background: none;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.settings-choices button:hover {
    padding: 5px;
    font-weight: bold;
    background-color: rgb(219, 191, 191);
    border-radius: 5px;
}

/* Right Panel - Profile */
.my-profile {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.theme-toggle {
    display: grid;
    grid-template-columns: 80% 20%;
    margin-bottom: 10px;
}

#toggleTheme {
    background-color: #ccc;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

#toggleTheme:hover {
    color: white;
    background-color: black;
}
/* Profile Picture Section */
.profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile-picture input[type="image"] {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #333;
    margin-bottom: 10px;
}

.custom-file-upload {
    color: #333;
    cursor: pointer;
    margin-bottom: 5px;
}

.profile-picture button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

/* Personal Info Section */
.perso-info {
    margin-bottom: 20px;
}

.perso-info h5 {
    font-size: 18px;
    font-weight: bold;
}

.bio {
    font-size: 14px;
    color: #333;
}

/* Input Fields */
.input-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.input-fields input[type="text"],
.input-fields input[type="email"] {
    padding: 10px;
    border: none;
    background-color: #e5e5e5;
    font-weight: bold;
    border-radius: 5px;
}

.input-fields input:hover {
    background-color: #dbdbdb;
}

.input-fields input::placeholder {
    color: #333;
}

/* Save Buttons */
.save-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.save-buttons input[type="button"] {
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
}

.save-buttons input[type="button"]:first-child {
    background-color: #333;
    color: white;
    transition: .2s;
}

.save-buttons input[type="button"]:last-child {
    background-color: #ffc2b3;
    color: red;
    transition: .2s;
}

.save-buttons input:first-child:hover {
    color: #333;
    background-color: #ccc;
    border: 1px solid #333;
}

.save-buttons input:last-child:hover {
    background-color: red;
    color: #ffc2b3;
}