@font-face {
    font-family: "boldonse";
    src: url(font/Boldonse-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    /* To keep the elements from flowing outside and generating a scrollbar */
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

/* Navigation */

.nav-container {
    width: 100%;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    width: 100%;
    padding: 0px 30px 0px 30px;
    border-bottom: 1px solid lightgray;
    height: 7vh;
    justify-content: center;
    align-items: center;

}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav ul li {
    list-style: none;
    color: #161616;
}

nav ul li a {
    text-decoration: none;
    color: #161616;
    display: inline;
}

nav ul li a img {
    height: 25px;
    color: #161616;
}

nav ul li h1 {
    font-family: "boldonse";
    font-size: 1em;
    color: #161616;
}

/* Second Nav */

.second-nav-container nav ul {
    justify-content: center;
    gap: 30px;
}

/* Main Page */

.main-page {
    width: 100vw;
    display: grid;
    grid-template-columns: 25% 75%;
    height: 86vh;
}

/* Change Page and Page Details Container */

.edit-page-details {
    border-right: 1px solid lightgray;
}

/* Change Page Container */

.choose-page-container {
    border-bottom: 1px solid lightgray;
    height: 10vh;
    display: flex;
    padding: 15px;
    justify-content: space-evenly;
    gap: 15px;
}

.choose-page-container * {
    width: 100%;
}

.choose-page-container #select-pages {
    border: 1px solid gray;
    border-radius: 3px;
    cursor: pointer;
}

.choose-page-container #add-page-btn {
    border: none;
    background-color: #161616;
    color: white;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.choose-page-container #add-page-btn:hover {
    transform: translateY(-2px);
}

/* Page Details Container */

.page-details-container {
    overflow-y: scroll;
}

/* Preview Site Page */

.preview-site {
    height: 100%;
    width: 100%;
}

iframe {
    width: 100%;
    height: 100%;
}