* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

.main_page {
    margin-top: 10vh;
}

.hero {
    text-align: center;
    padding: 3rem 1rem;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
    margin-bottom: 2rem;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.hero div h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #222;
}

.hero div p {
    font-size: 1.1rem;
    color: #555;
}

.call_to_action_btn {
    background-color: #272727;
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: fit-content;
}

.call_to_action_btn:hover {
    background-color: rgb(105, 105, 105);
}

#content {
    max-width: auto;
    margin: 0 auto;
    padding: 0 1rem 2rem;
}

section {
    justify-self: center;
    padding: 30px;
    width: 50%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

section h1 {
    font-size: 1.8rem;
    color: #222;
    margin-bottom: 1rem;
}

section p {
    font-size: 1rem;
    color: #444;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
    margin-top: 2rem;
}

footer .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        margin-top: 1rem;
    }

    .hero h1 {
        font-size: 2rem;
    }

    section h1 {
        font-size: 1.5rem;
    }
}