* {
    margin: 0;
    padding: 0;
}

.main_page {
    padding: 30px;
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 30px;
    justify-content: center;
}

.main_page .left_side_container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main_page .left_side_container h1 {
    font-size: 4em;
    color: #333;
}

.main_page .right_side_container {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_page .right_side_container .image_placeholder {
    background-color: #333;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.whole_team_container {
    display: flex;
    width: 100%;
}

.whole_team_container .image_placeholder {
    background-color: #333;
    width: 100vw;
    height: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.quote_img_container {
    padding: 30px;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.quote_img_container .quote_container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 15px;
    justify-content: center;
}

.quote_img_container .quote_container h3 {
    font-size: 2em;
    width: 90%;
}

.quote_img_container div {
    padding: 30px;
    display: flex;
}

.quote_img_container div div {
    background-color: #333;
    width: 100%;
    height: 300px;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.team_container {
    padding: 30px;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.team_container .team_img_container {
    padding: 30px;
    display: grid;
    grid-template-areas:
        'img1 img1 img2 img2'
        'img1 img1 img2 img2'
        'img1 img1 img3 img3'
        'img4 img4 img3 img3'
        'img4 img4 img3 img3';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    height: 100%;
}

.team_container .team_img_container div {
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.team_container .team_img_container .img1 {
    background: #222;
    grid-area: img1;
}

.team_container .team_img_container .img2 {
    background: #333;
    grid-area: img2;
}

.team_container .team_img_container .img3 {
    background: #444;
    grid-area: img3;
}

.team_container .team_img_container .img4 {
    background: #555;
    grid-area: img4;
}

.team_container .text_container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
}

.team_container .text_container .the_team_text_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.team_container .text_container h2 {
    font-size: 3em;
    color: #333;
}


.team_container .text_container .stats_container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}


.team_container .text_container .stats_container h3 {
    font-size: 2em;
}

.team_container .text_container .stats_container p {
    font-size: 0.7em;
}